.DS_Store
README.html
README_files
*_files
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.Rproj.user
*.html
*.Rmarkdown

z_CoSWAT
Writing/z_Template
Writing/z_images
*.docs
**/z_note.qmd
**/*.docx

# Ignore some folders
# These folders are mostly generated for my convenience and not necessary for others
**/z_copy_code
**/y_task_SampleRun
**/z_test_Run
**/y_TestRun
**/z_others
**/z_copy_code
**/z_obsolete
**/x_others
**/y_report


**/z_images
**/z_report