.DS_Store
README.html
README_files
*_files
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.Rproj.user
*.html

z_CoSWAT
Writing/z_Template
Writing/z_images
*.docs

# Ignore some folders
# These folders are mostly generated for my convenience and not necessary for others
**/z_copy_code
**/y_task_SampleRun
**/y_TestRun
**/z_others
**/z_copy_code
**/z_obsolete

